<!DOCTYPE html>
<head>
	<script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
</head>
<body style="background-color: #5f6a72; margin: auto">
  {% extends "base.html" %}

	{% block topbar %}
	<!-- By passing a valid access token here, we are able to display -->
	<!-- the user's images without having to download or prepare -->
	<!-- them ahead of time -->
	<div>
		<h1 style="text-align: center; font-size: 50px; font-family: sans-serif; color: black">c<span style="color: #d21034; font-weight: bold">RU</span>sh finder</h1>
	</div>
	<div style="text-align: center">
		<div id="share-app">
			<ul>
				<li>
					<a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
						<span class="plus">Share on Facebook</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	{% endblock %}


	{% block content %}
	<section class="clearfix" id="samples" style="text-align: center">
		<h1>Search for your Friends on Rutgers Crushes!</h1>
		<input class="input" type="text" name="searchField" id="searchField" data-watermark="Name/Keyword" />
		<button id="searchButton">Search</button>
		<label style="color: #656565"><input type="checkbox" id="checkbox" />Exact matches only?</label>
		<div>
			<p></p>
			<button id="searchAllButton">Search all Facebook friends</button>
		</div>
	</section>
	<!--<div id="output" style="margin: auto"></div> -->
	<div id="output" class="centre"></div>
	<div id="footer">
		<div class="copyright">
			Copyright &copy; 2013 Daniel Bordak, Revan Sopher, and Ashley Weaver
		</div>
	</div>
	<script type="text/javascript">
		$("#searchButton").click(function(){
			$("#output").empty();
			var baseUrl = "https://api.twitter.com/1/statuses/oembed.json"
			$.ajax({
				url:"/search",
				type: 'GET',
				data:{
					data: $("#searchField").val(),
					exact: ($("#checkbox")).is(":checked")?'True':''
				},
				error:function(){ 
					console.log("error");
				}}).done(function(data){
					var decodedJson = $.parseJSON(data);
					for(var i = 0; i < decodedJson.length; i++)
					{
						$.ajax({
							url: baseUrl + "?id=" + decodedJson[i],
								dataType: 'jsonp',
								crossDomain: true,
							success: function(data){
								$('#output').append(data.html);	
						}
					});
					console.log(decodedJson);
					$("#output").text(decodedJson);
				}});
		});
	</script>
	<script type="text/javascript">
		$("#searchAllButton").click(function(){
			$("#output").empty();
			var baseUrl = "https://api.twitter.com/1/statuses/oembed.json"
			{% for friend in friends.data %}
				$.ajax({
					url:"/search",
					type: 'GET',
					data:{
						data: '{{friend.name}}',
						exact: 'True'
					},
					error:function(){ 
						console.log("error");
					}}).done(function(data){
						var decodedJson = $.parseJSON(data);
						for(var i = 0; i < decodedJson.length; i++)
						{
							$.ajax({
								url: baseUrl + "?id=" + decodedJson[i],
									dataType: 'jsonp',
									crossDomain: true,
								success: function(data){
									$('#output').append(data.html);	
							}
						});
						console.log(decodedJson);
						$("#output").text(decodedJson);
					}});
			{% endfor %}
			});
	</script>
	<script>
		$(document).ready(function () {
			$(":input[data-watermark]").each(function () {
				$(this).val($(this).attr("data-watermark"));
				$(this).bind('focus', function () {
					if ($(this).val() == $(this).attr("data-watermark")) $(this).val('');
				});
				$(this).bind('blur', function () {
				if ($(this).val() == '') $(this).val($(this).attr("data-watermark"));
				$(this).css('color','#000');
				});
			});
		});
	</script>
	{% endblock %}
</body>

