{% extends "base.html" %}

{% block topbar %}
<html style="background-color: #656565">
<body style="background-color: #5f6a72; margin:auto; padding-top: 20px">
  <div id="fb-root" ></div>
  <h1 style=" font-size: 40px; color: black; text-align: center">Welcome to c<span style="color: #d21034; font-weight: bold">RU</span>sh finder</h1>
  <div id="login-flow">
    <fb:login-button perms="email,offline_access" show-faces="true"></fb:login-button>
  </div>

{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>